<h1>Категорії</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <%= image_tag("categories/1.png", class: "card-img-top", :alt => "...")%>
      <div class="card-body">
        <h5 class="card-title">Запуск мовлення</h5>
        <p class="card-text">опис</p>
        <a href="/categories/zapusk" class="btn btn-primary">Детальніше</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag("categories/2.png", class: "card-img-top", :alt => "...")%>
      <div class="card-body">
        <h5 class="card-title">Обстеження мовлення</h5>
        <p class="card-text">опис</p>
        <a href="/categories/obstezhennya" class="btn btn-primary">Детальніше</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag("categories/3.png", class: "card-img-top", :alt => "...")%>
      <div class="card-body">
        <h5 class="card-title">Автоматизація звуків</h5>
        <p class="card-text">опис</p>
        <a href="/categories/avtomatyzacia" class="btn btn-primary">Детальніше</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag("categories/4.png", class: "card-img-top", :alt => "...")%>
      <div class="card-body">
        <h5 class="card-title">Диференціація звуків</h5>
        <p class="card-text">Опис</p>
        <a href="/categories/dyfretciacia" class="btn btn-primary">Детальніше</a>
      </div>
    </div>
  </div><div class="col">
    <div class="card">
      <%= image_tag("categories/5.png", class: "card-img-top", :alt => "...")%>
      <div class="card-body">
        <h5 class="card-title">Інше</h5>
        <p class="card-text">Інші ігри для розвитку мовлення.</p>
        <a href="/categories/other" class="btn btn-primary">Детальніше</a>
      </div>
    </div>
  </div>
</div>