<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('kube.png') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css' %>
  </head>

  <body>

  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   <%= image_tag("kube.png", :size => "33x33")%>
    <a class="navbar-brand" href="http://logopedijka.live/"><font size="6" color="#0d6efd" face="Pacifico, cursive">Логопедійка</font></a>

      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/shop">Магазин</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rules">Умови</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/freegames">Безкоштовні ігри</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdeBMhtY1QGhGpDYoKGZ_foC2u1S6ZBWijQtcqC8POvILMiDg/viewform?embedded=true">Тест</a>
        </li>
      </ul>
      <form class="d-flex">
        <a href="/contacts" class="btn btn-outline-primary">Зв'язатися з нами</a>
      </form>
    </div>
  </div>
</nav>
</header>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
